### Reverse a number

In [1]:
a=12345
s=0
while a>0:
    s = s*10 
    s+=a%10
    a = a//10
print(s)

54321

### Prime Number

In [2]:
def prime_number(n):
    if n<=1:
        return "Not a prime number"
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return "Not a prime number"
    else:
        return "Prime Number"
prime_number(3)

'Prime Number'

### Prime Number in between Start and End

In [3]:
def prime_number_range(start,end):
    l=[]
    for i in range(start,end+1):
        if i<=2:
            continue
        is_prime = True
        for j in range(2,int(i**0.5)+1):
            if i%j==0:
                is_prime = False
                break
        if is_prime:
            l.append(i)
    return l
prime_number_range(1,20)

[3, 5, 7, 11, 13, 17, 19]

### Fibonacci Series

Note : To check if a given number is part of the Fibonacci sequence, you can use the following mathematical property: a number x is a Fibonacci number if and only if one of the following conditions is true:
5*x^2+4 or 5*x^2-4 is a perfect square

In [4]:
n_terms = 10
n1,n2 = 0,1
count=0
if n_terms<=0:
    raise Exception("length should be always positive")
if n_terms==1:
    print(n1,end=" ")
else:
    while count<n_terms:
        print(n1,end=" ")
        n3 = n1+n2
        n1 = n2
        n2 = n3
        count+=1

0 1 1 2 3 5 8 13 21 34

### Fibonacci using recursion

In [5]:
def fib_seq(n):
    if n<=0:
        return
    if n==1:
        return [0]
    if n==2:
        return [0,1]
    else:
        fib_s = fib_seq(n-1)
        fib_s.append(fib_s[-1]+fib_s[-2])
        return fib_s
fib_seq(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Star Patterns

In [6]:
for i in range(1,5+1):
    print("*"*5)

*****
*****
*****
*****
*****

In [7]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [8]:
for i in range(1,5+1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [10]:
for i in range(1,5+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
for i in range(1,5+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [12]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [13]:
for i in range(1,5):
    for k in range(5-i):
        print(" ",end=" ")
    for j in range(1,2*i):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *

In [14]:
for i in range(5,0,-1):
    for k in range(5-i):
        print(" ",end=" ")
    for j in range(1,2*(i)):
        print("*",end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [15]:
for i in range(5):
    for k in range(5-i-1):
        print("$",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")
    for k in range(5-i-1):
        print("$",end=" ")
    print()

$ $ $ $ * $ $ $ $
$ $ $ * * * $ $ $
$ $ * * * * * $ $
$ * * * * * * * $
* * * * * * * * *

In [16]:
for i in range(5):
    for k in range(i):
        print("#",end=" ")
    for j in range((2*5)-(2*i+1)):
        print("*",end=" ")
    for k in range(i):
        print("#",end=" ")
    print()

* * * * * * * * *
# * * * * * * * #
# # * * * * * # #
# # # * * * # # #
# # # # * # # # #

In [17]:
for i in range(5):
    for k in range(5-i-1):
        print("#",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")
    for k in range(5-i-1):
        print("#",end=" ")
    print()
for i in range(5):
    for k in range(i):
        print("#",end=" ")
    for j in range((2*5)-(2*i+1)):
        print("*",end=" ")
    for k in range(i):
        print("#",end=" ")
    print()

# # # # * # # # #
# # # * * * # # #
# # * * * * * # #
# * * * * * * * #
* * * * * * * * *
* * * * * * * * *
# * * * * * * * #
# # * * * * * # #
# # # * * * # # #
# # # # * # # # #

In [18]:
def nStarDiamond(n: int):
    for i in range(n-1):
        for k in range(n-i-1):
            print(" ",end="")
        for j in range(2*i+1):
            print("*",end="")
        for k in range(n-i-1):
            print(" ",end="")
        print()
    for i in range(n):
        for k in range(i):
            print(" ",end="")
        for j in range((2*n)-(2*i+1)):
            print("*",end="")
        for k in range(i):
            print(" ",end="")
        print()

In [19]:
nStarDiamond(3)

  *
 ***
*****
 ***
  *

In [20]:
for i in range(5-1):
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(5):
    for j in range(5-i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [21]:
start=1
for i in range(1,5+1):
    start = 0 if i%2==0 else 1
    for j in range(i):
        print(start,end=" ")
        start = 1-start
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [22]:
for i in range(5-1):
    for j in range(1,i+2):
        print(j,end=" ")
    for k in range(5-2*(i)+1):
        print("$",end=" ")
    for j in range(i+1,0,-1):
        print(j,end=" ")
    print()

1 $ $ $ $ $ $ 1
1 2 $ $ $ $ 2 1
1 2 3 $ $ 3 2 1
1 2 3 4 4 3 2 1

In [23]:
for i in range(1,3+1):
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(5-2*(i)+1):
        print("$",end=" ")
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1 $ $ $ $ 1
1 2 $ $ 2 1
1 2 3 3 2 1

In [24]:
for i in range(1,4+1):
    for j in range(1,i+1):
        print(j,end="")
    for l in range(4*2-2*i):
        print(" ",end="")
    for k in range(i,0,-1):
        print(k,end="")
    print()

1      1
12    21
123  321
12344321

In [25]:
spaces = 2*(5-1)
for i in range(1,5+1):
    for j in range(1,i+1):
        print(j,end=" ")
    for j in range(1,spaces+1):
        print(" ",end=" ")
    for j in range(i,0,-1):
        print(j,end=" ")
    print()
    spaces-=2

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [26]:
start = 1
for i in range(1,5+1):
    for j in range(i):
        print(start,end=" ")
        start+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [27]:
for i in range(5):
    for ch in range(ord("A"),ord("A")+i+1):
        print(chr(ch),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [28]:
for i in range(5,0,-1):
    for ch in range(ord("A"),ord("A")+i):
        print(chr(ch),end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [29]:
for i in range(5):
    for ch in range(ord("A"),ord("A")+i+1):
        print(chr(ch),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [30]:
for i in range(5):
    for ch in range(i+1):
        print(chr(ord('A')+i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E